@page "/create-quiz"
@page "/create-quiz/{id}"
@attribute [Authorize]

@inherits CreateQuizBase

<div class="quiz-div">
    <Validations @ref="Validations" Mode="ValidationMode.Manual">
    <Row>
        <Column ColumnSize="ColumnSize.Is5">
            <SelectList TItem="string"
                        ElementId="selectTag"
                        TValue="string"
                        Data="@this.TagCollection"
                        TextField="@(s => s)"
                        ValueField="@(s => s)"
                        SelectedValueChanged="this.OnSelectedValueChanged"
                        DefaultItemText="Select a Tag..." />
        </Column>
        <Column ColumnSize="ColumnSize.Is2">
                <Field>
                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <TextEdit Placeholder="Name" @bind-text="this.QuizName">
                            <Feedback>
                                <ValidationError>Enter a name for the exam</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </Field>
            </Column>
            <Column ColumnSize="ColumnSize.Is3">
                <Field>
                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <TextEdit Placeholder="Category" @bind-Text="this.Category">
                            <Feedback>
                                <ValidationError>Enter an exam category</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </Field>
            </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is5"/>
        <Column ColumnSize="ColumnSize.Is5">
            <Field>
                <Validation Validator="@ValidationRule.IsEmail">
                    <TextEdit Placeholder="E-mail" @bind-Text="this.Email">
                        <Feedback>
                            <ValidationError>Enter valid e-mail to receive exams attempts</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
        </Column>
        <Column ColumnSize="ColumnSize.Is2"/>
    </Row>
    </Validations>
    <div style="margin-top: 20px;">
        <Row>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="left" class="quiz-data-div"></div>
            </Column>
            <Column ColumnSize="ColumnSize.Is5">
                <div id="right" class="quiz-data-div"></div>
            </Column>
            <Column ColumnSize="ColumnSize.Is2">
                <div id="actions" class="quiz-data-div">
                    <Button Color="Color.Success" Block="true" Clicked="OnSaveQuizAsync">Save</Button>
                    <Button Color="Color.Info" Block="true" Clicked="OnResetAsync">Reset</Button>
                </div>
            </Column>
        </Row>
    </div>
</div>