@page "/load-questions"

@inherits LoadQuestionsBase

<div class="quiz-div">
    <Row>
        <Column ColumnSize="ColumnSize.Is8">
            <Divider DividerType="DividerType.TextContent" Text="@TotalQuestions" />
            <Iteration Items="this.QuestionViewModelCollection">
                <QuestionItem QuestionViewModel="@context" OnClosed="RemoveQuestion" />
            </Iteration>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Tooltip Text="Load a bunch of questions from a txt file. Questions must be separated by new lines.">
                <FileEdit Changed="@TryLoadQuestionsAsync" Filter=".txt" Placeholder="Select a file to upload questions." />
            </Tooltip>
            <Condition Evaluation="this.AreQuestionsAvailable">
                <Match>
                    <br />
                    <Button Clicked="@SendQuestionsAsync" Color="Color.Success" Block="true">Send questions</Button>
                    <br />
                    <Button Clicked="@DeleteQuestions" Color="Color.Danger" Block="true">Delete questions</Button>
                </Match>
            </Condition>
        </Column>
    </Row>
</div>