@page "/publish-quiz"
@attribute [Authorize]

@inherits PublishQuizBase

    <div class="quiz-div">
        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Published</TableHeaderCell>
                    <TableHeaderCell>Exam name</TableHeaderCell>
                    <TableHeaderCell>Exams available</TableHeaderCell>
                    <TableHeaderCell/>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableRowHeader>
                        <Icon Name="IconName.List"></Icon>
                    </TableRowHeader>
                    <TableRowHeader>
                        .NET Senior Dev
                    </TableRowHeader>
                    <TableRowHeader>
                        <SelectList TItem="MySelectModel"
                                    TValue="int"
                                    Data="@myDdlData"
                                    TextField="@((item) => item.MyTextField)"
                                    ValueField="@((item) => item.MyValueField)"
                                    SelectedValue="@selectedListValue"
                                    SelectedValueChanged="@MyListValueChangedHandler"
                                    DefaultItemText="Choose your country"/>
                    </TableRowHeader>
                    <TableRowHeader>
                        <Button Color="Color.Warning">Publish</Button>
                    </TableRowHeader>
                </TableRow>
            </TableBody>
        </Table>
    </div>

    @code{

        public class MySelectModel
        {
            public int MyValueField { get; set; }
            public string MyTextField { get; set; }
        }

        static readonly string[] Countries = { "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia & Herzegovina", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Macedonia", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Turkey", "Ukraine", "United Kingdom", "Vatican City" };
        IEnumerable<MySelectModel> myDdlData = Enumerable.Range(1, Countries.Length).Select(x => new MySelectModel { MyTextField = Countries[x - 1], MyValueField = x });

        int selectedListValue { get; set; } = 3;

        void MyListValueChangedHandler(int newValue)
        {
            selectedListValue = newValue;
            StateHasChanged();
        }

    }